/* @import '../styles/variables.css'; */

#post-form-container {
  display:flex;
  align-items: center;
  font-size: 2rem;
  height: auto;
  border: solid 1px rgb(205, 205, 244);
  padding: .2em;
}

.post-form {
  display: flex;
  flex-direction: row;
  overflow: hidden; 
  display: inline;
}

#profile-photo {
  display: inline;
  inline-size: 3.5em;
  margin: 0;
  padding: 0;
}

.post-text {
    text-align: center;
    height: 3.5em;
    width: 10em;
    font-size: 1rem;
    margin: .5em;
    padding: .4rem;
    border: 1px solid rgb(205, 205, 244);
}

.post-button {
  background-color: white;
  width: 3.5em;
  height: 3.5em;
  font-size: .7rem;
  border: solid .1rem rgb(205, 205, 244);
  border-radius: .4em;
  margin: .3em;
}