.user-border {
  border: solid blue;
  font-size: 16px;
  width: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  width: 4em;
  height: auto
}


.userInfoField {
  font-size: 10px;
  line-height: 1em;
}

li {
  text-decoration: none;
}